<h1>Lobby</h1>
<h2>Welcome <span ng-bind="lobbyUser"></span></h2>

<div class="row">
  <div class="col-md-3">
    <h3>Add room</h3>
    <form ng-submit='createRoom()'>
      <input ng-model="newName" placeholder="room name here">
      <button ng-click="createRoom()">Create!</button>
    <form>
  </div>

  <h3>Join rooms</h3>
  <div class="col-md-3 roomsbox">

    <ul>
      <li ng-repeat="(key,room) in roomlist">
        <a href="#/room/{{key}}">{{key}}</a>
      </li>
    </ul>
  </div>

    <!-- <p class="textcolor"> {{errormsg}} </p>
    <div class="alert alert-success" ng-show="showSuccess">
      <button type="button" class="close" data-ng-click="switchBool('showSuccess')">×</button>
      <strong>Done!</strong> {{successText}}
    </div>-->
</div>

<!---<button ng-click="joinRoom(key.toString())">Join</button> -->
