<h1>Lobby</h1>
<h2>Welcome <span ng-bind="lobbyUser"></span></h2>

<h3>Rooms</h3>
<ul>
  <li ng-repeat="(key,room) in roomlist">
    <span>{{key}}</span>
    <button ng-click="joinRoom(key.toString())">Join</button>
  </li>
</ul>

<input ng-model="newName" placeholder="room name here">
<button ng-click="createRoom()">Create!</button>

<p class="textcolor"> {{errormsg}} </p>
<div class="alert alert-success" ng-show="showSuccess">
  <button type="button" class="close" data-ng-click="switchBool('showSuccess')">×</button>
  <strong>Done!</strong> {{successText}}
</div>
