<div class="Absolute-Center">
  <h1 id="welcome">Welcome to PlainChat®</h1>
  <h2>Please choose a username:</h2>
  <input ng-model="username" placeholder="Insert name here" ng-keypress="keyPress($event)">

  <button ng-click="connect()">Connect!</button>
  <p class="textcolor" ng-bind="unavailable"></p>
  <span>All spaces will be replaced with hyphen (-)</span>

  <div class="alert alert-danger" ng-show="showMessage">
    <button type="button" class="close" data-ng-click="switchBool('showMessage')">×</button>
    <strong>Warning!</strong>{{warningText}}
  </div>
</div>
