<h2>
  {{roomName}}
</h2>
<span>Topic: {{roomTopic}}</span><br/>
<span>Welcome, <strong>{{currentUser}}</strong>!</span>
<span href="" id="help" class="" data-toggle="popover" title="" data-html="true"
data-content="/kick username - kicks a users <br/>
/ban username - bans a user <br/>
/unban username - unbans a user <br/>
/op username - makes a user operator <br/>
/unop username - demotes a user <br/>
/settopic topic- sets a new topic <br/>
/partroom - leave room"
data-original-title="Commands">Help? - hover this</span>
<!-- Hér koma skilaboðin -->
<div class="row">
  <div class="col-md-9">
    <h3>Messages</h3>
    <div class="well messagebox" scroll-glue ng-model="glued">
      <ul class="list-unstyled">
        <li ng-repeat="roomMessage in roomMessages">
          <strong>
            [{{roomMessage.timestamp | date:"HH:mm" }}]
          </strong>
          <strong>
            &lt;{{roomMessage.nick }}&gt;
          </strong>
          {{roomMessage.message }}
        </li>
      </ul>
    </div>
  </div>
  <!-- Hér kemur notendalistinn -->
  <div class="col-md-3 userbox" id="users">
    <h3>Users</h3>
    <div class="well">
      <ul class="list-unstyled">
        <!-- Sorterum user listann ng-class="{active:isOp()}" -->
        <li ng-repeat="op in ops | orderBy:'toString()' "><strong>[{{op}}]</strong></li>
        <li ng-repeat="user in users | orderBy:'toString()' ">{{user}}</li>
      </ul>
    </div>
  </div>

  <div class="col-md-9">
    <form ng-submit="sendMessage()">
      <input ng-model="usermessage" class="form-control">
      <input type="submit" value="Send" class="btn btn-primary">
    </form>
  </div>
</div>


<div class="alert alert-success" ng-show="showSuccess">
<button type="button" class="close" data-ng-click="switchBool('showSuccess')">
×
</button>
<strong>
Done!
</strong>
{{successText}}
</div>

<div class="alert alert-alert" ng-show="showSuccess">
<button type="button" class="close" data-ng-click="switchBool('showSuccess')">
×
</button>
<strong>
Done!
</strong>
{{successText}}
</div>

<script>
  var $help = $('#help');
  $help.data('state', 'hover');

  var enterShow = function () {
      if ($help.data('state') === 'hover') {
          $help.popover('show');
      }
  };
  var exitHide = function () {
      if ($help.data('state') === 'hover') {
          $help.popover('hide');
      }
  };
  $help.popover({trigger: 'manual'})
    .on('mouseenter', enterShow)
    .on('mouseleave', exitHide)
</script>

<!-- Hér kemur textaboxið -->
<!--
<form ng-submit="sendMessage()" class="well form-search form-send-message" style="margin-left: -12px;margin-top: 0">
<input ng-model="message" placeholder="Message" class="span11 input-message">
<input type="submit" value="Send" style="margin-left: 10px;margin-top: 0" class="btn btn-primary">
</form>
-->
